@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box !important;
    background-color: rgb(248, 232, 212)
}

/* div {
    border: 1px solid orange;
} */

.nav-extended {
    background-color: rgb(248, 232, 212);
    border: none;
    box-shadow: none;
    .nav-wrapper {
        ul a, .brand-logo {
            color: $primary-text!important;
        }
        .side-nav {
            background-color: rgb(248, 232, 212);
        }
        .material-icons {
            @extend .brand-logo;
        }
    }
}

.carousel-item {
    @include background-style;
}

.carousel-fixed-item {
    -webkit-text-fill-color: white; 
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
}

.carousel1 {
    background-image: url("images/carousel/geralt-forest.jpg");
}

.carousel2 {
    background-image: url("images/carousel/geralt-field.jpg");
}

.carousel3 {
    background-image: url("images/carousel/geralt-sword.jpg");
}

.carousel4 {
    background-image: url("images/carousel/geralt-screenshot.jpg");
}

.aboutcontent {
    h1 { 
    margin-top: 0;
    padding-top: 10%;
    }
    .row {
    margin-top: 50px;
    margin-bottom: 50px;
    }
}

.exp {
    width: 70%;
    margin: 15px auto;
    h5 {
        border-bottom: 3px solid black;
    }
}

.midimages .row {
    @include padmarg0;
    .col, .s12, .m6, .l4 {
        @include padmarg0;
        height: 400px;
    }
    .l4 {
        max-width: 33.33333%;
    }
    .m6 {
        max-width: 50%;
    }
    .s12 {
        max-width: 100%;
    }
    .mid {
        @include background-style;
    }
    .mid1 {
        background-image: url("images/middle/middle1.jpg");
    }
    .mid2 {
        background-image: url("images/middle/middle2.jpg");
    }
    .mid3 {
        background-image: url("images/middle/middle3.jpg");
    }
    .mid4 {
        background-image: url("images/middle/middle4.jpg");
    }
    .mid5 {
        background-image: url("images/middle/middle5.jpg");
    }
    .mid6 {
        background-image: url("images/middle/middle6.jpg");
    }
}

input[type=text], select, textarea {
    width: 100%!important;
    padding: 12px 20px!important;
    margin: 8px 0!important;
    display: $primary-display!important;
    border: $primary-border!important;
    border-radius: 4px!important;
    box-sizing: border-box!important;
    background-color: $primary-background!important;
}

label {
    color: $primary-text!important;
    font-weight: bold;
}

input[type=submit] {
    width: 30%!important;
    color: $primary-text!important;
    padding: 14px 20px!important;
    margin: 8px 0!important;
    margin-left: 34.5%!important;
    border: $primary-border!important;
    border-radius: 4px!important;
    cursor: pointer!important;
    background-color: $primary-background;
}

.form {
    border-radius: 5px;
    padding: 20px;
    margin: auto 10%;
}

.va {
   ul { 
    margin-bottom: 50px;
    text-align: center;
    border-top: $primary-border;
   }
   li {
    display: $primary-display;
    }
}