* {
  box-sizing: border-box; }

body {
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box !important;
  background-color: #f8e8d4; }

/* div {
    border: 1px solid orange;
} */
.nav-extended {
  background-color: #f8e8d4;
  border: none;
  box-shadow: none; }
  .nav-extended .nav-wrapper ul a, .nav-extended .nav-wrapper .brand-logo {
    color: black !important; }

.carousel-item {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.carousel-fixed-item {
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black; }

.carousel1 {
  background-image: url("images/carousel/geralt-forest.jpg"); }

.carousel2 {
  background-image: url("images/carousel/geralt-field.jpg"); }

.carousel3 {
  background-image: url("images/carousel/geralt-sword.jpg"); }

.carousel4 {
  background-image: url("images/carousel/geralt-screenshot.jpg"); }

.aboutcontent h1 {
  margin-top: 0;
  padding-top: 10%; }
.aboutcontent .row {
  margin-top: 50px;
  margin-bottom: 50px; }

.exp {
  width: 70%;
  margin: 15px auto; }
  .exp h5 {
    border-bottom: 3px solid black; }

.midimages .row {
  padding: 0;
  margin: 0 !important; }
  .midimages .row .col, .midimages .row .s12, .midimages .row .m6, .midimages .row .l4 {
    padding: 0;
    margin: 0 !important;
    height: 400px; }
  .midimages .row .l4 {
    max-width: 33.33333%; }
  .midimages .row .m6 {
    max-width: 50%; }
  .midimages .row .s12 {
    max-width: 100%; }
  .midimages .row .mid {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .midimages .row .mid1 {
    background-image: url("images/middle/middle1.jpg"); }
  .midimages .row .mid2 {
    background-image: url("images/middle/middle2.jpg"); }
  .midimages .row .mid3 {
    background-image: url("images/middle/middle3.jpg"); }
  .midimages .row .mid4 {
    background-image: url("images/middle/middle4.jpg"); }
  .midimages .row .mid5 {
    background-image: url("images/middle/middle5.jpg"); }
  .midimages .row .mid6 {
    background-image: url("images/middle/middle6.jpg"); }

input[type=text], select, textarea {
  width: 100% !important;
  padding: 12px 20px !important;
  margin: 8px 0 !important;
  display: inline-block !important;
  border: 2px solid black !important;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  background-color: white !important; }

label {
  color: black !important;
  font-weight: bold; }

input[type=submit] {
  width: 30% !important;
  color: black !important;
  padding: 14px 20px !important;
  margin: 8px 0 !important;
  margin-left: 34.5% !important;
  border: 2px solid black !important;
  border-radius: 4px !important;
  cursor: pointer !important;
  background-color: white; }

.form {
  border-radius: 5px;
  padding: 20px;
  margin: auto 10%; }

.va ul {
  margin-bottom: 50px;
  text-align: center;
  border-top: 2px solid black; }
.va li {
  display: inline-block; }

/*# sourceMappingURL=main.css.map */
